@using Newtonsoft.Json
@model IEnumerable<WypozyczalniaRowerow.Models.Vehicle>

@{
    ViewBag.Title = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
   <a role="button" href='@Url.Action("Create")' class="btn btn-primary">Dodaj</a> 
</p>

<div>
    @JsonConvert.SerializeObject(Model)
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntendedTarget)
        </th>
        <th>Akcje</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntendedTarget)
            </td>
            <td>
               <a role="button" href='@Url.Action("Details",values: new { id=item.Id })' class="btn btn-secondary">Szczegóły</a> 
               <a role="button" href='@Url.Action("Edit",values: new { id=item.Id })' class="btn btn-secondary">Edytuj</a> 
               <a role="button" href='@Url.Action("Delete",values: new { id=item.Id })' class="btn btn-secondary">Usuń</a> 
            </td>
        </tr>
    }

</table>