@using Newtonsoft.Json
@model IEnumerable<WypozyczalniaRowerow.Models.RentingLocation>

@{
    ViewBag.Title = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
   <a role="button" href='@Url.Action("Create")' class="btn btn-success">Dodaj</a> 
</p>

<table class="table">
    <tr>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th class="align-middle">
            Akcje
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td class="align-middle">
               <a role="button" href='@Url.Action("Details",values: new { id=item.Id })' class="btn btn-secondary">Szczegóły</a> 
               <a role="button" href='@Url.Action("Edit",values: new { id=item.Id })' class="btn btn-secondary">Edytuj</a> 
               <a role="button" href='@Url.Action("Delete",values: new { id=item.Id })' class="btn btn-secondary">Usuń</a> 
            </td>
        </tr>
    }

</table>